<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
  <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
  <add key="emailserver" value="smtp.gmail.com"></add>
  <add key="username" value="webingateteam@gmail.com"></add>
  <add key="password" value="webingate123456"></add>
  <add key="fromaddress" value="webingateteam@gmail.com"></add>
  <add key="port" value="587"></add>
  <!--<add key="subject" value="This is a test mail"></add>
    <add key="body" value="test mail to be sent"></add>-->
</appSettings>

  <connectionStrings>
    <add name="btposdb" connectionString="Data Source=localhost;Initial Catalog=posdashboard;integrated security=sspi;" />  
   <!--<add connectionString="Server=192.168.100.32,1433;Database=POSDashboard;User ID=btposuser;Password=btposuser" name="btposdb" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
