<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <!-- Page Title -->
    <title>INTER BUS REGISTATION</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="InterBus, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/flexslider/flexslider.css" media="screen" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css">

    <style>
        section#content {
            min-height: 700px;
            padding: 0;
            position: relative;
            overflow: hidden;
        }

        #main {
            padding-top: 25px;
            padding-bottom: 15px;
        }

        /*.page-title, .page-description {
            color: #fff;
        }

        .page-title {
            font-size: 4.1667em;
            font-weight: bold;
        }*/

        .page-description {
            font-size: 2.5em;
            margin-bottom: 50px;
        }

        .featured {
            position: absolute;
            right: 50px;
            bottom: 50px;
            z-index: 9;
            margin-bottom: 0;
            text-align: right;
        }

            .featured figure a {
                border: 2px solid #fff;
            }

            .featured .details {
                margin-right: 10px;
            }

                .featured .details > * {
                    color: #fff;
                    line-height: 1.25em;
                    margin: 0;
                    font-weight: bold;
                    text-shadow: 2px -2px rgba(0, 0, 0, 0.2);
                }
    </style>

</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-model="FleetOwnerRequest1" ng-init="GetCountry();">
    <!--<treasure-overlay-spinner active='spinner.active'>-->
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a ng-hide="username == null" href="UserProfile.html" >MY ACCOUNT</a></li>
                        <li class="ribbon">
                            <a href="#">Countries</a>
                            <ul class="menu mini">
                                <!--<li><a href="#" title="Dansk">Dansk</a></li>-->
                                <li>
                                    <select ng-options="cc.Name for cc in Countries track by cc.Id" ng-model="ctry" ng-init="GetCountry()" style="width:80%"></select>
                                </li>

                            </ul>
                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="ribbon">
                            <a ng-hide="username == null" href="#">Hello, {{username}}</a>
                            <ul class="menu mini uppercase">

                                <li><a href="UserProfile.html" class="location-reload">Profile</a></li>
                                <li><a href="BookedTicketHistory.html" class="location-reload">Bookings</a></li>
                                <li><a href="Cancellation.html" class="location-reload">cancellation</a></li>
                                <li><a href="UserProfile.html" class="location-reload">card</a></li>
                                <li><a href="UserProfile.html" class="location-reload">app</a></li>
                                <li><a href="Refund.html" class="location-reload">refund</a></li>
                                <li><a href="UserProfile.html" class="location-reload"> ewallet</a></li>
                                <li><a href="UserProfile.html" class="location-reload"> feedback/enquery</a></li>
                                <li><a href="UserProfile.html" class="location-reload">settings</a></li>
                                <li><a href="#" ng-click="SignOutUser();">signout</a></li>
                            </ul>
                        </li>
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>

                        <li><a href="UI/Registation.html" class="">SIGNUP</a></li>

                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="../index.html" title="InterBus - home">
                            <img src="images/logo.png" alt="InterBus HTML5 Template" />
                        </a>
                    </h1>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="../index.html">Home</a>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="pages-coming-soon1.html">Fares/Payments</a>
                                <ul>
                                    <li><a href="shedules.html">Schedules</a></li>
                                    <li><a href="pages-coming-soon1.html">Check Fares</a></li>
                                    <li><a href="pages-coming-soon1.html">Recharge</a></li>
                                    <li><a href="pages-coming-soon1.html">Renewals</a></li>
                                    <li><a href="pages-coming-soon1.html">refund</a></li>

                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="cancellation.html">cancel/Modify</a>
                                <ul>
                                    <li><a href="cancellation.html">Cancel/Modify Ticket</a></li>
                                   

                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="Status_and_Updates.html">Status &amp;Update</a>
                                <ul>
                                    <li><a href="Status_and_Updates.html">Status</a></li>
                                    <li><a href="pages-coming-soon1.html">plans</a></li>


                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Products</a>
                                <ul>
                                   <li><a href="licensepage.html">Fleet Owner Licence</a></li>
                                    <li><a href="Licenses.html">BT Licence</a></li>
                                    <li><a href="Licenses.html">APP Licence</a></li>
                                    <li><a href="Licenses.html">Advt Licence</a></li>
                                    <li><a href="Licensepage.html">Cards</a></li>
                                    <li><a href="Licensepage.html">Mobile App</a></li>
                                    <li><a href="products.html">products</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="AboutUs.html">About us</a>
                                <ul>
                                    <li><a href="ContactUs.html">contacts</a></li>
                                    <li><a href="AddTroubleTicketingDetails.html">complants</a></li>

                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="../index.html">Home</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="pages-coming-soon1.html">Fares/Payments</a>
                            <ul>
                                <li><a href="shedules.html">Schedules</a></li>
                                <li><a href="pages-coming-soon1.html">Check Fares</a></li>
                                <li><a href="pages-coming-soon1.html">Recharge</a></li>
                                <li><a href="pages-coming-soon1.html">Renewals</a></li>
                                <li><a href="pages-coming-soon1.html">refund</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="cancellation.html">cancel/Modify</a>
                            <ul>
                                <li><a href="cancellation.html">Cancel/Modify Ticket</a></li>
                               

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="Status_and_Updates.html">Status &amp;Update</a>
                            <ul>
                                <li><a href="Status_and_Updates.html">Status</a></li>
                                <li><a href="pages-coming-soon1.html">plans</a></li>


                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Products</a>
                            <ul>
                               <li><a href="licensepage.html">Fleet Owner Licence</a></li>
                                <li><a href="Licenses.html">BT Licence</a></li>
                                <li><a href="Licenses.html">APP Licence</a></li>
                                <li><a href="Licenses.html">Advt Licence</a></li>
                                <li><a href="Licensepage.html">Cards</a></li>
                                <li><a href="Licensepage.html">Mobile App</a></li>
                                <li><a href="products.html">products</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="AboutUs.html">About us</a>
                            <ul>
                                <li><a href="ContactUs.html">contacts</a></li>
                                <li><a href="AddTroubleTicketingDetails.html">complants</a></li>

                            </ul>
                        </li>

                    </ul>

                    <ul class="mobile-topnav container">
                        <li><a ng-hide="username == null" href="UserProfile.html" >MY ACCOUNT</a></li>

                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="Registation.html" class="soap-popupbox">SIGNUP</a></li>

                    </ul>

                </nav>

            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Fleet Owner Request</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="../index.html">HOME</a></li>
                    <li class="active">Fleet Owner Request</li>
                </ul>
            </div>
        </div>
        <section id="content" class="gray-area" style="padding-left:200px">
            <div class="container">
                <div class="row" ng-show="registeredUseId != 0">
                    <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                        <div class="booking-section travelo-box">

                            <form class="booking-form">
                                <div class="person-information">
                                    <h1>Fleet Owner Request</h1>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-3">
                                            <label>first name*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="first name" ng-model="FleetOwnerRequest1.FirstName" />
                                        </div>

                                        <div class="col-sm-3 col-md-3">
                                            <label>middle name</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="middle name" ng-model="FleetOwnerRequest1.MiddleName" />
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>last name*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="last name" ng-model="FleetOwnerRequest1.LastName" />
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>EmailId*</label>
                                            <input type="email" class="input-text full-width" value="" placeholder="EmailId" ng-model="FleetOwnerRequest1.EmailAddress" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-3">
                                            <label>Contact No:*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Contact No" ng-model="FleetOwnerRequest1.PhoneNo" />
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>Alternate No:</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Alternate No" ng-model="FleetOwnerRequest1.AltPhoneNo" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="selGender" class="control-label">Gender: </label>
                                            <div>
                                                <select id="selGender" class="selector full-width" ng-model="FleetOwnerRequest1.Gender">
                                                    <option value="" selected>Select</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                    <option value="3">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label for="inputLastName" class="control-label">Addres</label>
                                            <textarea rows="2" style="width:90%" ng-model="FleetOwnerRequest1.Address" class="form-control"></textarea>
                                        </div>

                                    </div>
                                    <h1>Company Details</h1>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-3">
                                            <label>Name*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Company Name" ng-model="FleetOwnerRequest1.CompanyName" />
                                        </div>

                                        <div class="col-sm-3 col-md-3">
                                            <label>Email</label>
                                            <input type="email" class="input-text full-width" value="" placeholder="Company Email" ng-model="FleetOwnerRequest1.CmpEmailAddress" />
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>Contat Number*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Office contat number" ng-model="FleetOwnerRequest1.CmpPhoneNo" />
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>Alternate Number</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="Office contat number" ng-model="FleetOwnerRequest1.CmpAltPhoneNo" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-3">
                                            <label>Title*</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" ng-model="FleetOwnerRequest1.CmpTitle" />
                                        </div>

                                        <div class="col-sm-3 col-md-3">
                                            <label>Caption</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" ng-model="FleetOwnerRequest1.CmpCaption" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Fleet Size</label>
                                            <div>
                                                <select class="selector full-width" ng-model="FleetOwnerRequest1.FleetSize">
                                                    <option value="">select fleet size</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>Staff size:</label>
                                            <div>
                                                <select class="selector full-width" ng-model="FleetOwnerRequest1.StaffSize">
                                                    <option value="">select Staff size</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-3">
                                            <label>Country:</label>
                                            <div>
                                                <select class="selector full-width" ng-model="FleetOwnerRequest1.Country">
                                                    <option value="">select Country</option>
                                                    <option value="245">Zimbabwe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>State/Province:</label>
                                            <div>
                                                <select class="selector full-width" ng-model="FleetOwnerRequest1.state">
                                                    <option value="">select State/Province</option>
                                                    <option value="1">Bulawayo</option>
                                                    <option value="2">Harare</option>
                                                    <option value="3">Manicaland</option>
                                                    <option value="4">Mashonaland Central</option>
                                                    <option value="5">Mashonaland East</option>
                                                    <option value="6">Mashonaland West</option>
                                                    <option value="7">Masvingo</option>
                                                    <option value="8">Matabeleland North</option>
                                                    <option value="9">Matabeleland South</option>
                                                    <option value="10">Midlands</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label>Zipcode:</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" ng-model="FleetOwnerRequest1.ZipCode" />
                                        </div>

                                        <div class="col-sm-3 col-md-3">
                                            <label>Fax:</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" ng-model="FleetOwnerRequest1.CmpFax" />
                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <div class="col-sm-3 col-md-3">
                                            <label for="inputLastName" class="control-label">Addres</label>
                                            <textarea rows="2" style="width:90%" class="form-control" ng-model="FleetOwnerRequest1.CmpAddress"></textarea>
                                        </div>
                                        <div class="col-sm-3 col-md-3">
                                            <label for="inputLastName" class="control-label">Alternate Addres</label>
                                            <textarea rows="2" style="width:90%" class="form-control" ng-model="FleetOwnerRequest1.CmpAltAddress"></textarea>
                                        </div>

                                    </div>
                                    <h1>General details</h1>
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-md-4">
                                            <label>Current system in use.:</label>
                                            <input type="text" class="input-text full-width" value="" placeholder="" ng-model="FleetOwnerRequest1.CurrentSystemInUse" />
                                        </div>

                                        <div class="col-sm-3 col-md-4">
                                            <label>how did you hear about us</label>
                                            <div>
                                                <select class="selector full-width" ng-model="FleetOwnerRequest1.howdidyouhearaboutus">
                                                    <option value="">Select</option>
                                                    <option value="Friends">Friends</option>
                                                    <option value="Paper Advertisement">Paper Advertisement</option>
                                                    <option value="Social Media">Social Media</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-6">
                                           <div>
                                                <label>
                                                    <input id="agreement" type="checkbox" ng-model="FleetOwnerRequest1.SendNewProductsEmails"> Send New Products Emails:<a href="#"><span class="skin-color"></span></a>.
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-6">
                                            <div>
                                                <label>
                                                    <input id="agreement" type="checkbox" ng-model="FleetOwnerRequest1.Agreetotermsandconditions"> By continuing, you agree to the <a href="#"><span class="skin-color">Terms and Conditions</span></a>.
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row" style="padding-left:100px">
                                        <div class="col-sm-6 col-md-5">
                                            <button type="submit" class="full-width btn-large" ng-click="save(FleetOwnerRequest1, 'I')">Submit</button>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <button type="submit" class="full-width btn-large">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!--<div class="container" style="margin-top:60px;min-height:380px;font-size:medium" ng-show="registeredUseId != 0">
                    <div class="container" style="margin-top:60px;min-height:380px;font-size:medium" >
                    <div class="row">
                        <h2 style="text-align:center">Verify Email Address</h2>


                        <div class="col-lg-7 col-lg-offset-2">
                            <table class="table table-hover table-striped table-bordered table-advanced tablesorter">

                                <tr>
                                    <td valign="top" style="padding-left:15px;padding-right:15px;">


                                        <div class="col-lg-12">
                                            <h2>Enter verification code </h2>
                                            <div class="content">
                                                <div class="cancinfo">Please check your email and enter the email verification code</div>
                                                <font style="padding-top: 10px;color:red" ng-show="codeVerified == 0">
                                                    <h5>
                                                        Invalid code. Please re-enter to verify.
                                                    </h5>
                                                </font>
                                                <div class="row" style="padding-top:15px;padding-bottom:15px">


                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <label for="inputFirstName" class="col-md-4 control-label">Verificaion code:</label>
                                                            <div class="col-md-7" style="text-align:left"><input id="inputFirstName" type="text" placeholder="E-mail verification code" class="form-control" ng-model="emailAddrCode" /></div>
                                                        </div>

                                                    </div>
                                                    <button class="btn btn-info pull-right" ng-click="VerifyEmailAddress();">
                                                        Submit
                                                        &nbsp;<i class="fa fa-chevron-circle-right"></i>
                                                    </button>

                                                </div>
                                                <font style="padding-top: 10px;">
                                                    <h5>
                                                        Note:You will not be able to receive e-tickets and other updates from interbus if the email id is not verified.
                                                        <br />  Did not receive the code/resend verification code? please <a href="Fleetownerrequest.html" style="color:red">
                                                            click here
                                                        </a> to re-send the code
                                                    </h5>
                                                </font>



                                                <div class="form-group mbn">

                                                    <a href="../index.html" class="btn btn-warning">
                                                        <i class="fa fa-chevron-circle-left"></i>&nbsp;
                                                        Later
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>

                        </div>




                    </div>
                </div>-->

            </div>
        </section>

    </div>



    <footer id="footer" style="background-color: #2d3e52;">

        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h2 style="color:white">Discover</h2>
                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a href="#">contacts</a></li>
                            <li class="col-xs-6"><a href="#">About</a></li>
                            <li class="col-xs-6"><a href="#">Careers</a></li>
                            <li class="col-xs-6"><a href="#">Safety</a></li>
                            <li class="active col-xs-6"><a href="#">security</a></li>
                            <li class="col-xs-6"><a href="#">Transparency</a></li>
                           
                            <li class="col-xs-6"><a href="#">Gift Shop</a></li>
                            
                            <li class="col-xs-6"><a href="#">Help</a></li>
                           
                            <li class="col-xs-6"><a href="#">Media</a></li>
                            <li class="col-xs-6"><a href="#">Business</a></li>
                            <li class="col-xs-6"><a href="#">commercial</a></li>

                            <li class="col-xs-6"><a href="#">Schools</a></li>
                           
                            <li class="col-xs-6"><a href="#">Get Support online 24/7</a></li>
                            <li class="col-xs-6"><a href="#">Deliveries in Zimbabwe</a></li>
                            <li class="col-xs-6"><a href="#">Urban planning</a></li>
                            <li class="col-xs-6"><a href="#">construction</a></li>
                            <li class="col-xs-6"><a href="#">Information for...</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2 style="color:white">Interbus News</h2>
                        <ul class="travel-news">
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/img1.jpg" alt="" width="63" height="63" />
                                    </a>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                    <p>The company’s services offers online services to transport providers to buy ticketing, advertising licenses and allows the passengers to book tickets online.INTERBUS</p>
                                    <span class="date">25 Sep, 2013</span>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="images/img11.jpg" alt="" width="63" height="63" />
                                    </a>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                    <p>Be it the management, the sales, services, the ground staff or the crew focus on performance and customer satisfaction.</p>
                                    <span class="date">24 Sep, 2013</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2 style="color:white">Mailing List</h2>
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <br />
                        <div class="icon-check">
                            <input type="text" class="input-text full-width" placeholder="your email" />
                        </div>
                        <br />
                        <span style="color:white">We respect your privacy</span>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2 style="color:white">About Interbus</h2>
                        <p>INTERBUS is the largest ticketing service provider for Inter-City bus transportation, serving more than 10 transport providers covering nearly 40 destinations with about 425 schedules daily across Harare. Its unique features enhanced the operational efficiency and performance for the transport providers and streamlined the travel tickets booking across industry. INTERBUS is one of the most recognized and reputed brands in Harare, Zimbabwe.</p>
                        <br />
                        <address class="contact-details">
                            <span class="contact-phone" style="color:white"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br />
                            <a href="#" class="contact-email">help@interbus.com</a>
                        </address>
                        <ul class="social-icons clearfix" style="padding-left:25px">
                            <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                            <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>




                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="logo pull-left">
                    <a href="../index.html" title="InterBus - home">
                        <img src="images/logo.png" alt="InterBus HTML5 Template" />
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
                    <p>&copy; 2017 Interbus</p>
                </div>
            </div>
        </div>

    </footer>
    <script type="text/ng-template" id="statusPopup.html" data-backdrop="static">

        <div class="modal-header">
            <h3 class="modal-title">Information!</h3>
        </div>
        <div class="modal-body">
            <h3>
                {{mssg}}
                <div ng-hide="status==1" ng-show="status==0"><br /><a href="LicensePage.html" style="color:red">Click here</a> to proceed to license buying</div>
            </h3>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>



    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider-min.js"></script>

    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/fileupload/angular-file-upload.js"></script>
    <script src="js/fileupload/angular-file-upload-shim.js"></script>

    <script src="js/CreateFleetOwner.js"></script>

    <script src="js/fileupload/Upload.js"></script>


</body>

</html>

