<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
 <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>INTER BUS</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="InterBus, Tour Booking HTML5 Template">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/flexslider/flexslider.css" media="screen" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="UserProfile.html">MY ACCOUNT</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li class="ribbon">
                            <a ng-hide="username == null" href="#">Hello, {{username}}</a>
                            <ul class="menu mini uppercase">

                                <li><a href="UserProfile.html" class="location-reload">Profile</a></li>
                                <li><a href="BookedTicketHistory.html" class="location-reload">Bookings</a></li>
                                <li><a href="Cancellation.html" class="location-reload">cancellation</a></li>
                                <li><a href="UserProfile.html" class="location-reload">card</a></li>
                                <li><a href="UserProfile.html" class="location-reload">app</a></li>
                                <li><a href="Refund.html" class="location-reload">refund</a></li>
                                <li><a href="UserProfile.html" class="location-reload"> ewallet</a></li>
                                <li><a href="UserProfile.html" class="location-reload"> feedback/enquery</a></li>
                                <li><a href="UserProfile.html" class="location-reload">settings</a></li>
                                <li><a href="#" ng-click="SignOutUser();">signout</a></li>
                            </ul>
                        </li>
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>

                        <li><a href="Registation.html" class="">SIGNUP</a></li>

                    </ul>

                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="../index.html" title="InterBus - home">
                            <img src="images/logo.png" alt="InterBus HTML5 Template" />
                        </a>
                    </h1>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="../index.html">Home</a>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="fares_and_payments.html">Fares/Payments</a>
                                <ul>
                                    <li><a href="shedules.html">Schedules</a></li>
                                    <li><a href="Fares_and_payments.html">Check Fares</a></li>
                                    <li><a href="pages-coming-soon1.html">Recharge</a></li>
                                    <li><a href="pages-coming-soon1.html">Renewals</a></li>
                                    <li><a href="refund.html">refund</a></li>

                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="cancellation.html">cancel/Modify</a>
                                <ul>
                                    <li><a href="cancellation.html">cancel Ticket</a></li>
                                    <li><a href="cancellation.html">Modify Ticket</a></li>

                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="Status_and_Updates.html">Status &amp;Update</a>
                                <ul>
                                    <li><a href="Status_and_Updates.html">Status</a></li>
                                    <li><a href="pages-coming-soon1.html">plans</a></li>


                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shortcode-pricing-tables.html">Products</a>
                                <ul>
                                    <li><a href="Licenses.html">Fleet Owner Licence</a></li>
                                    <li><a href="Licenses.html">BT Licence</a></li>
                                    <li><a href="Licenses.html">APP Licence</a></li>
                                    <li><a href="Licenses.html">Advt Licence</a></li>
                                    <li><a href="cards.html">Cards</a></li>
                                    <li><a href="apps.html">Mobile App</a></li>
                                    <li><a href="products.html">products</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="AboutUs.html">About us</a>
                                <ul>
                                    <li><a href="ContactUs.html">contacts</a></li>
                                    <li><a href="AddTroubleTicketingDetails.html">complants</a></li>

                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="../index.html">Home</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="fares_and_payments.html">Fares/Payments</a>
                            <ul>
                                <li><a href="shedules.html">Schedules</a></li>
                                <li><a href="Fares_and_payments.html">Check Fares</a></li>
                                <li><a href="pages-coming-soon1.html">Recharge</a></li>
                                <li><a href="pages-coming-soon1.html">Renewals</a></li>
                                <li><a href="refund.html">refund</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="cancellation.html">cancel/Modify</a>
                            <ul>
                                <li><a href="cancellation.html">cancel Ticket</a></li>
                                <li><a href="cancellation.html">Modify Ticket</a></li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="Status_and_Updates.html">Status &amp;Update</a>
                            <ul>
                                <li><a href="Status_and_Updates.html">Status</a></li>
                                <li><a href="pages-coming-soon1.html">plans</a></li>


                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shortcode-pricing-tables.html">Products</a>
                            <ul>
                                <li><a href="Licenses.html">Fleet Owner Licence</a></li>
                                <li><a href="Licenses.html">BT Licence</a></li>
                                <li><a href="Licenses.html">APP Licence</a></li>
                                <li><a href="Licenses.html">Advt Licence</a></li>
                                <li><a href="cards.html">Cards</a></li>
                                <li><a href="apps.html">Mobile App</a></li>
                                <li><a href="products.html">products</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="AboutUs.html">About us</a>
                            <ul>
                                <li><a href="ContactUs.html">contacts</a></li>
                                <li><a href="AddTroubleTicketingDetails.html">complants</a></li>

                            </ul>
                        </li>

                    </ul>

                    <ul class="mobile-topnav container">
                        <li><a href="UserProfile.html">MY ACCOUNT</a></li>

                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="#">USD</a>
                            <ul class="menu mini">
                                <li><a href="#" title="AUD">AUD</a></li>
                                <li><a href="#" title="BRL">BRL</a></li>
                                <li class="active"><a href="#" title="USD">USD</a></li>
                                <li><a href="#" title="CAD">CAD</a></li>
                                <li><a href="#" title="CHF">CHF</a></li>
                                <li><a href="#" title="CNY">CNY</a></li>
                                <li><a href="#" title="CZK">CZK</a></li>
                                <li><a href="#" title="DKK">DKK</a></li>
                                <li><a href="#" title="EUR">EUR</a></li>
                                <li><a href="#" title="GBP">GBP</a></li>
                                <li><a href="#" title="HKD">HKD</a></li>
                                <li><a href="#" title="HUF">HUF</a></li>
                                <li><a href="#" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>
            <div id="travelo-login" class="travelo-login-box travelo-box">
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address" ng-model="UserName">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password" ng-model="Password">
                    </div>
                    <div class="form-group">
                        <button ng-click="Signin()" class="btn btn-success">
                            Log In
                        </button>
                    </div>
                    <div class="form-group">
                        <a href="#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="UI/Registration.html" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
        </header>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">POS Andriod</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="ui/index.html">HOME</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li class="active">POS Andriod</li>
                </ul>
            </div>
        </div>
        <section id="content" class="gray-area">
            <div class="container car-detail-page">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="featured-image box">
                            <img src="images/products/android.jpg" alt="" />
                        </div>
                        <div class="tab-container">
                            <ul class="tabs">
                                <li class="active">
                                    <a href="#car-details" data-toggle="tab">Car Details</a>
                                </li>
                                <!--<li>
                                    <a href="#car-upgrade" data-toggle="tab">Upgrade Your Car</a>
                                </li>-->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="car-details">
                                    <div class="intro box table-wrapper full-width hidden-table-sms">
                                        <div class="col-sm-4 table-cell travelo-box">
                                            <dl class="term-description">
                                                <dt>Rental Company:</dt>
                                                <dd>Ez Rent a Car</dd>
                                                <dt>Car Type:</dt>
                                                <dd>Economy</dd>
                                                <dt>Car name:</dt>
                                                <dd>Toyota auris</dd>
                                                <dt>Passenger:</dt>
                                                <dd>4</dd>
                                                <dt>Baggage:</dt>
                                                <dd>2</dd>
                                                <dt>Car features:</dt>
                                                <dd>Available
                                                <dt>Taxes &amp; Fees:</dt>
                                                <dd>$155.61</dd>
                                                <dt>total price:</dt>
                                                <dd>$201</dd>
                                            </dl>
                                        </div>
                                        <div class="col-sm-8 table-cell">
                                            <div class="detailed-features clearfix">
                                                <div class="col-md-6">
                                                    <h4 class="box-title">
                                                        Pick-up location details
                                                        <small>Phone: 1-0825889755</small>
                                                    </h4>
                                                    <div class="icon-box style11">
                                                        <div class="icon-wrapper">
                                                            <i class="soap-icon-clock"></i>
                                                        </div>
                                                        <dl class="details">
                                                            <dt class="skin-color">pickup time</dt>
                                                            <dd>Thu, Nov 14, 2013  |  11:00 AM</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="icon-box style11">
                                                        <div class="icon-wrapper">
                                                            <i class="soap-icon-departure"></i>
                                                        </div>
                                                        <dl class="details">
                                                            <dt class="skin-color">Location</dt>
                                                            <dd>London city, airport</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 class="box-title">
                                                        Drop-off location details
                                                        <small>Phone: 1-0825889755</small>
                                                    </h4>
                                                    <div class="icon-box style11">
                                                        <div class="icon-wrapper">
                                                            <i class="soap-icon-clock"></i>
                                                        </div>
                                                        <dl class="details">
                                                            <dt class="skin-color">Drop off Time</dt>
                                                            <dd>Fri, Nov 15, 2013  |  11:00 AM </dd>
                                                        </dl>
                                                    </div>
                                                    <div class="icon-box style11">
                                                        <div class="icon-wrapper">
                                                            <i class="soap-icon-departure"></i>
                                                        </div>
                                                        <dl class="details">
                                                            <dt class="skin-color">Location</dt>
                                                            <dd>Paris Orly Airport (ORY)</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2>Car Rental Information</h2>
                                    <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</p>
                                    <br />
                                    <div class="car-features box">
                                        <div class="row add-clearfix">
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-user circle"></i>4 Passengers
                                                </span>
                                            </div>
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-suitcase circle"></i>2 Bags
                                                </span>
                                            </div>
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-aircon circle"></i>air conditioning
                                                </span>
                                            </div>
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-fmstereo circle"></i>Satellite Navigation
                                                </span>
                                            </div>
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-fueltank circle"></i>Disel Vehicle
                                                </span>
                                            </div>
                                            <div class="col-sms-6 col-sm-6 col-md-4">
                                                <span class="icon-box style2">
                                                    <i class="soap-icon-automatic-transmission circle"></i>Automatic transmission
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center " style="padding-bottom:7px;padding-top:0px">
                                        <button class=" btn-large" ng-click="ProceedToPayment();"><a href="pages-coming-soon1.html">BUY NOW</a></button>

                                    </div>
                                </div>
                                <!--<div class="tab-pane fade in" id="car-upgrade">
                                    <h2>Upgrade Your Car Experience</h2>
                                    <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. </p>
                                    <div class="car-list listing-style3 car">
                                        <article class="box">
                                            <figure class="col-xs-3">
                                                <span><img alt="" src="http://placehold.it/270x160"></span>
                                            </figure>
                                            <div class="details col-xs-9 clearfix">
                                                <div class="col-sm-8">
                                                    <div class="clearfix">
                                                        <h4 class="box-title">Economy Car<small>bmw mini</small></h4>
                                                        <div class="logo">
                                                            <img src="http://placehold.it/110x25" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="amenities">
                                                        <ul>
                                                            <li><i class="soap-icon-user circle"></i>4</li>
                                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-2 character">
                                                    <dl class="">
                                                        <dt class="skin-color">mileage</dt>
                                                        <dd>3000 miles</dd>
                                                        <dt class="skin-color">Pickup Time</dt>
                                                        <dd>5:45 pm</dd>
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city</dd>
                                                    </dl>
                                                </div>
                                                <div class="action col-xs-6 col-sm-2">
                                                    <span class="price"><small>per day</small>$45.39</span>
                                                    <a href="car-booking.html" class="button btn-small full-width">select</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure class="col-xs-3">
                                                <span><img alt="" src="http://placehold.it/270x160"></span>
                                            </figure>
                                            <div class="details col-xs-9 clearfix">
                                                <div class="col-sm-8">
                                                    <div class="clearfix">
                                                        <h4 class="box-title">Full Size<small>Holden sv6</small></h4>
                                                        <div class="logo">
                                                            <img src="http://placehold.it/110x25" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="amenities">
                                                        <ul>
                                                            <li><i class="soap-icon-user circle"></i>4</li>
                                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-2 character">
                                                    <dl class="">
                                                        <dt class="skin-color">mileage</dt>
                                                        <dd>3000 miles</dd>
                                                        <dt class="skin-color">Pickup Time</dt>
                                                        <dd>5:45 pm</dd>
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city</dd>
                                                    </dl>
                                                </div>
                                                <div class="action col-xs-6 col-sm-2">
                                                    <span class="price"><small>per day</small>$100</span>
                                                    <a href="car-booking.html" class="button btn-small full-width">select</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure class="col-xs-3">
                                                <span><img alt="" src="http://placehold.it/270x160"></span>
                                            </figure>
                                            <div class="details col-xs-9 clearfix">
                                                <div class="col-sm-8">
                                                    <div class="clearfix">
                                                        <h4 class="box-title">Luxury Elite<small>bmw 5 series</small></h4>
                                                        <div class="logo">
                                                            <img src="http://placehold.it/110x25" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="amenities">
                                                        <ul>
                                                            <li><i class="soap-icon-user circle"></i>4</li>
                                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-2 character">
                                                    <dl>
                                                        <dt class="skin-color">mileage</dt>
                                                        <dd>3000 miles</dd>
                                                        <dt class="skin-color">Pickup Time</dt>
                                                        <dd>5:45 pm</dd>
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city</dd>
                                                    </dl>
                                                </div>
                                                <div class="action col-xs-6 col-sm-2">
                                                    <span class="price"><small>per day</small>$79.39</span>
                                                    <a href="car-booking.html" class="button btn-small full-width">select</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure class="col-xs-3">
                                                <span><img alt="" src="http://placehold.it/270x160"></span>
                                            </figure>
                                            <div class="details col-xs-9 clearfix">
                                                <div class="col-sm-8">
                                                    <div class="clearfix">
                                                        <h4 class="box-title">Mini Car<small>Fiat 500</small></h4>
                                                        <div class="logo">
                                                            <img src="http://placehold.it/110x25" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="amenities">
                                                        <ul>
                                                            <li><i class="soap-icon-user circle"></i>4</li>
                                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-2 character">
                                                    <dl>
                                                        <dt class="skin-color">mileage</dt>
                                                        <dd>Unlimited</dd>
                                                        <dt class="skin-color">Pickup Time</dt>
                                                        <dd>5:45 pm</dd>
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city</dd>
                                                    </dl>
                                                </div>
                                                <div class="action col-xs-6 col-sm-2">
                                                    <span class="price"><small>per day</small>$15.39</span>
                                                    <a href="car-booking.html" class="button btn-small full-width">select</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="box">
                                            <figure class="col-xs-3">
                                                <span><img alt="" src="http://placehold.it/270x160"></span>
                                            </figure>
                                            <div class="details col-xs-9 clearfix">
                                                <div class="col-sm-8">
                                                    <div class="clearfix">
                                                        <h4 class="box-title">Intermediate<small>Renault grand scenic</small></h4>
                                                        <div class="logo">
                                                            <img src="http://placehold.it/110x25" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="amenities">
                                                        <ul>
                                                            <li><i class="soap-icon-user circle"></i>4</li>
                                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-2 character">
                                                    <dl>
                                                        <dt class="skin-color">mileage</dt>
                                                        <dd>Unlimited</dd>
                                                        <dt class="skin-color">Pickup Time</dt>
                                                        <dd>5:45 pm</dd>
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city</dd>
                                                    </dl>
                                                </div>
                                                <div class="action col-xs-6 col-sm-2">
                                                    <span class="price"><small>per day</small>$30.21</span>
                                                    <a href="car-booking.html" class="button btn-small full-width">select</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <a href="#" class="button btn-large full-width">LOAD MORE CARS</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo">
                            <figure>
                                <img width="114" height="85" src="images/products/android.jpg" alt="">
                            </figure>
                            <div class="details">
                                <h2 class="box-title">BMW Mini<small>economy car</small></h2>
                                <span class="price clearfix">
                                    <small class="pull-left">per day</small>
                                    <span class="pull-right">$45.39</span>
                                </span>
                                <div class="mile clearfix">
                                    <span class="skin-color">Mileage:</span>
                                    <span class="mileage pull-right">3000 Miles</span>
                                </div>
                                <p class="description">Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                <a class="button green full-width uppercase btn-small" href="pages-coming-soon1.html">BUY NOW</a>
                            </div>
                        </article>
                        <!--<div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br>
                                <a class="contact-email" href="#">help@travelo.com</a>
                            </address>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Why Book with us?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                            </ul>
                        </div>-->

                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" style="background-color: #2d3e52;">

            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h2 style="color:white">Discover</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="#">contacts</a></li>
                                <li class="col-xs-6"><a href="#">About</a></li>
                                <li class="col-xs-6"><a href="#">Careers</a></li>
                                <li class="col-xs-6"><a href="#">Safety</a></li>
                                <li class="active col-xs-6"><a href="#">security</a></li>
                                <li class="col-xs-6"><a href="#">Transparency</a></li>
                                <!--<li class="col-xs-6"><a href="#">reports</a></li>-->
                                <li class="col-xs-6"><a href="#">Gift Shop</a></li>
                                <!--<li class="col-xs-6"><a href="#">Email updates</a></li>-->
                                <li class="col-xs-6"><a href="#">Help</a></li>
                                <!--<li class="col-xs-6"><a href="#">Other languages</a></li>-->
                                <li class="col-xs-6"><a href="#">Media</a></li>
                                <li class="col-xs-6"><a href="#">Business</a></li>
                                <li class="col-xs-6"><a href="#">commercial</a></li>

                                <li class="col-xs-6"><a href="#">Schools</a></li>
                                <!--<li class="col-xs-6"><a href="#">young people</a></li>-->
                                <li class="col-xs-6"><a href="#">Get Support online 24/7</a></li>
                                <li class="col-xs-6"><a href="#">Deliveries in Zimbabwe</a></li>
                                <li class="col-xs-6"><a href="#">Urban planning</a></li>
                                <li class="col-xs-6"><a href="#">construction</a></li>
                                <li class="col-xs-6"><a href="#">Information for...</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2 style="color:white">Interbus News</h2>
                            <ul class="travel-news">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/img1.jpg" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                        <p>The company’s services offers online services to transport providers to buy ticketing, advertising licenses and allows the passengers to book tickets online.INTERBUS</p>
                                        <span class="date">25 Sep, 2013</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="images/img11.jpg" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                        <p>Be it the management, the sales, services, the ground staff or the crew focus on performance and customer satisfaction.</p>
                                        <span class="date">24 Sep, 2013</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2 style="color:white">Mailing List</h2>
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <br />
                            <div class="icon-check">
                                <input type="text" class="input-text full-width" placeholder="your email" />
                            </div>
                            <br />
                            <span style="color:white">We respect your privacy</span>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2 style="color:white">About Interbus</h2>
                            <p>INTERBUS is the largest ticketing service provider for Inter-City bus transportation, serving more than 10 transport providers covering nearly 40 destinations with about 425 schedules daily across Harare. Its unique features enhanced the operational efficiency and performance for the transport providers and streamlined the travel tickets booking across industry. INTERBUS is one of the most recognized and reputed brands in Harare, Zimbabwe.</p>
                            <br />
                            <address class="contact-details">
                                <span class="contact-phone" style="color:white"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br />
                                <a href="#" class="contact-email">help@interbus.com</a>
                            </address>
                            <ul class="social-icons clearfix" style="padding-left:25px">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>




                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="../index.html" title="InterBus - home">
                            <img src="images/logo.png" alt="InterBus HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2017 Interbus</p>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- load FlexSlider scripts -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="js/calendar.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>

